@tailwind base;
@tailwind components;
@tailwind utilities;



.cls-1-cart {
  fill: #044d64;
}

.cls-2-cart {
  fill: #fff;
}

.cls-1 {
  fill: #96c34f;
}

.cls-2 {
  fill: #c0d993;
}

.cls-3 {
  fill: #e2edcf;
}

.cls-4 {
  fill: #fff;
}


.cls-5 {
  fill: #5fbacf;
}

.cls-6 {
  fill: #cce4ee;
}